<h3>
    ngSwitch Demo</h3>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Info</th>
            <th scope="col">Warning</th>
            <th scope="col">Success</th>
            <th scope="col">Error</th>
        </tr>
    </thead>
    <tbody text-align="center">
        <tr text-align="center">
            <th scope="row"><i *ngIf="alertaIdx === 0" class="fa fa-arrow-up"></i></th>
            <td><i *ngIf="alertaIdx === 1" class="fa fa-arrow-up"></i> </td>
            <td><i *ngIf="alertaIdx === 2" class="fa fa-arrow-up"></i> </td>
            <td><i *ngIf="alertaIdx > 2" class="fa fa-arrow-up"></i> </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary mb-1" (click)="cambiarAlerta()"> cambiar ngSwtich</button>

<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'">success</div>
    <div *ngSwitchCase="'info'">info</div>
    <div *ngSwitchCase="'warning'">warning</div>
    <div *ngSwitchDefault>Default: danger</div>
</div>

<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple primary alert—check it out!
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchDefault class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
</div>
